*{transition:all 0.3s ease-in-out;}
body{
    background-image: url("bg1.jpg");
  
  height: auto;
  max-width: 100%;
}
.bd{
  padding-left: 20%;
  padding-right: 10%;

}

.container{
  clear:both;
  overflow:auto;
  background-color: thistle;
}

nav{
  
    float:right;
}

.logo img{float:left;width: 85px;height: auto;}

ul li{
  display: inline-block; padding:10px;
  padding-left: 220PX;
  font-size:20px; font-family:raleway;
}

ul li:hover{
  color:orange;
  
}
.myClass{
  width:600px;
  background-color: aqua;
  font-style: italic;
}

#id{
  display: inline-block;
  width: 50px;
  height: 25px;
  background: var(--blue);
  border-radius: 20px;
  padding: 5px;
  transition: 0.5s ease-in-out;

  
}
#chk{
  display: inline-block;
  width: 50px;
  height: 25px;
  /* background: var(--white); */
  background: darkgreen;
  border-radius: 20px;
  padding: 5px;
  content: '✔';
  transition: 0.5s ease-in-out;
  
} 

a {
  text-decoration: none;
}
.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  padding: auto;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
 
}
#peek{
  /* background-color: rgb(19, 199, 88); */
  text-indent: -9999px;
}
#inact{
  
  text-indent: -9999px;
}
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block;
  }
  
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
}